# Replace these values before execution.
SNOWFLAKE_ACCOUNT=<org-account-or-account_identifier>
SNOWFLAKE_USER=<username>
SNOWFLAKE_PASSWORD=<password-or-use-key-pair>
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=GR_WH
SNOWFLAKE_DATABASE=GLOBRORETAIL_DW
SNOWFLAKE_SCHEMA=PUBLIC
AWS_S3_BUCKET=<your-bucket-name>
AWS_S3_REGION=<your-region>
AWS_IAM_ROLE_ARN=arn:aws:iam::<account-id>:role/<role-name>
AWS_S3_PREFIX=globo-retail/
